@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

body {
    height: 100vh;
    display: flex;
    background-color: rgba(37, 36, 36, 0.945);
}

.memory-game {
    height: 640px;
    width: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-game h1 {
    position: absolute;
    z-index: 1;
    background-color: black;
    padding: 50px;
    color: white;
    top: 37.5%;
    left: 6%;
    font-size: 52px;
    display: none;
    border-radius: 5px;
}

.card {
    height: calc(33.333% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.3);
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    /* Não deixa o elemento achatado no Plano*/
    transition: transform .9s;
}

.card:active {
    transform: scale(0.97);
    transition: transform .3s;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #fff;
    backface-visibility: hidden;
    /* Propriedade que retira o verso do elemento */
}

.card-front {
    transform: rotateY(180deg);
}

/* Flip Card Animation */

.card.flip {
    transform: rotateY(180deg);
}

/* Change Modes */

.modesBTN {
    position: absolute;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background: linear-gradient(to left, white, rgb(36, 34, 34), rgb(36, 34, 34));
    width: 8%;
    height: 4%;
    left: 1%;
    top: 1%;
}

.modesBTN #btn {
    margin-left: 15%;
    border-radius: 50%;
    height: 70%;
    width: 20%;
    background-color: rgb(255,255,255);
    box-shadow: 1px 1px 1px black;
    transform: translateX(0);
    transition: transform .5s;
}

.modesBTN #btnclick{
    display: none;
}

.modesBTN #btn:hover{
    cursor: pointer;
}

.modesBTN #btnclick:checked + #btn{
    transform: translateX(55px);
    background-color: rgb(49, 45, 45);
}

.actualMode{
    position: absolute;
    left: 10%;
    top: 1.7%;
    color: white;
}

